// hide everything but naming fields
$('#MainDataForm').hide("fast");
$('#MainDataForm').parent().append('<div id="dNameConv">' +
	'<form id="fTypeSelect"></form><br />' +
	'<form id="fNameConv"></form><br />' +
	'<form id="fButtons"></form></div><br />' +
	'<div id="debug"></div>');
	
// get innovator stuff
var inn = top.Innovator();

// get Part Type from innovator
var iPartType = inn.newItem("NC_PartTypes", "get");
iPartType.setAttribute("select", "type,link");
iPartType = iPartType.apply();

// get Field list from innovator (since all parts will use this list)
var iFields = inn.newItem("Naming Fields", "get");
iFields.setAttribute("select", "field,label,type,units,help,link");
iFields = iFields.apply();

// naming convention variables
sShortName = "";
numFields = 0;

// creating all functions and setting them to variables 
// onChange function to set up sPart when user selects a part type
var eGetParts = 'function getParts() { ';
eGetParts += 'if ($(\'#sPartType option:selected\').val() != "INVALID") { ';
eGetParts += 'var iParts = inn.newItem($(\'#sPartType option:selected\').val(), "get"); ';
eGetParts += 'iParts.setAttribute("select", "part_type,naming_convention"); ';
eGetParts += 'iParts = iParts.apply(); $(\'#sPart\').empty(); ';
eGetParts += '$(\'#sPart\').append(\'<option value="INVALID">Select Part</option>\'); ';
eGetParts += 'for (var i = 0; i < iPart.getItemCount(); i++) { ';
eGetParts += '$(\'#sPart\').append(\'<option value="\' + ';
eGetParts += 'iPart.getItemByIndex(i).getAttribute("naming_convention") + \'">\' + ';
eGetParts += 'iPart.getItemByIndex(i).getAttribute("part_type") + \'</option>\'); } } } ';

// create starting Part Type selection box
var tmpEle = '<select id="sPartType" onchange="' + eGetParts + '">';
tmpEle += '<option value="INVALID">Select Part Type</option>';
$('#debug').append('<p>' + (iPartType.getItemCount()) + '</p>');
for (var i = 0; i < iPartType.getItemCount(); i++) {
    $('#debug').append('<p>' + iPartType.getItemByIndex(i).getProperty("link") + ':' + (iPartType.getItemByIndex(i).getProperty("type")) + '</p>');
	tmpEle += '<option value="' + iPartType.getItemByIndex(i).getProperty("link") +
		'">' + iPartType.getItemByIndex(i).getProperty("type") + '</option>';
}
$('#fTypeSelect').append(tmpEle);

// create Part selection box and add to form
$('#fTypeSelect').append('<select id="sPart">' + 
	'<option value="INVALID">No Type Chosen</option>');

// create name label
$('#fButtons').append('<label id="lName"></label>');
// create bottom buttons
$('#fButtons').append('<button type="button" id="bGenName">' +
	'Generate Name</button>');
$('#fButtons').append('<button type="button" id="bSave">' +
	'Save & Go Back</button>');
$('#fButtons').append('<button type="button" id="bBack">' +
	'Go Back</button>');